<?xml version="1.0" encoding="utf-8" ?>
<menu text="权限"  id="0000000">
    <first hypelnk=""  id="000" text="订单管理">
        <second hypelnk="page1" id="00001" text="订单发布" url="pc.do"/>
        <second hypelnk="page1" id="00002" text="订单完成上报" url="pc.do"/>
    </first>
    <first hypelnk=""  id="101" text="基础信息">
        <second hypelnk="page1" id="00001" text="行政区域管理" url="pc.do"/>
        <second hypelnk="page1" id="00002" text="定点区域" url="pc.do"/>
        <second hypelnk="page1" id="00001" text="手绘区域" url="pc.do"/>
        <second hypelnk="page1" id="00002" text="厂区管理" url="pc.do"/>
        <second hypelnk="page1" id="00001" text="客户管理" url="pc.do"/>
        <second hypelnk="page1" id="00002" text="物料管理" url="pc.do"/>
        <second hypelnk="page1" id="00001" text="车辆管理" url="pc.do"/>
        <second hypelnk="page1" id="00002" text="司机管理" url="pc.do"/>
        <second hypelnk="page1" id="00002" text="车辆绑定" url="pc.do"/>
        <second hypelnk="page1" id="00002" text="用户管理" url="pc.do"/>
    </first>
</menu>
